/* screen.css */

.screen {
    width: 200px;
    height: 100px;
    border-radius: 12px;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px;
    color: #333;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    overflow: hidden;
  }
  
.screen:hover{
    background-color: #acacac;
    color: #333;
    cursor: pointer;
}

.screen.isSelected {
  background-color: #808080; /* Couleur grise pour les éléments sélectionnés */
}

.screen.isSelected:hover {
  background-color: #606060; /* Couleur grise plus foncée pour les éléments sélectionnés au survol */
}

.absolute{
  z-index: 7;
  position: absolute;
}

.type-label {
  font-size: 16px;
  font-weight: bold;
}
  

.image-container {
}

.image-background {
    z-index: -4;
}
